body {
    background: black;
    font-family: "Nunito", sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(178,34,34);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: rgb(128,0,0);
    transition: background-color 0.4s ease;
}

footer{
    position: absolute;
left: 25px;
right: 25px;
text-align: center;
font-size: 25px;
opacity: .7;
color: white;
font-family: "Nunito", sans-serif;
margin-top: 502px;
}

.card {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin-top: 72px;
    right: 420px;
} 